@font-face {
  font-family: bahnschrift;
  src: url(./Fonts/bahnschrift.ttf);
}

html {
  font-family: bahnschrift;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-12 {
  margin-top: 12px;
}

.header {
  width: 100%;
  height: 120px;
  background-color: rgb(43, 43, 43);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.header__navbar-logo {
  width: 108px;
  height: 56px;
}

.header__navbar-search {
  width: 620px;
  height: 36px;
  background-color: white;
  display: flex;
  border-radius: 16px;
  margin-top: 8px;
}

.header__navbar-search-icon {
  width: 36px;
  height: 36px;
  font-weight: 100;
  color: black;
  opacity: 0.4;
  text-align: center;
  line-height: 36px;
}

.header__navbar-search-wrap {
  position: relative;
}

.header__navbar-search-input {
  width: 500px;
  height: 100%;
  border-color: none;
  outline: none;
  border: none;
  position: relative;
}

.header__navbar-search-input:focus ~ .header__navbar-history {
  display: block;
}

.header__navbar-history {
  position: absolute;
  top: calc(100% + 2px);
  left: -36px;
  border-radius: 10px;
  width: 520px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgb(189 189 189);
  display: none;
}

.header__navbar-history li {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-weight: 400;
}
.header__navbar-history li:hover {
  background-color: #fafafa;
  overflow: hidden;
}

.header__navbar-history li:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fafafa;
  overflow: hidden;
}

.header__navbar-history li:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fafafa;
  overflow: hidden;
}

.header__navbar-search-filter {
  margin: 3px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 16px;
  flex: 1;
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  cursor: pointer;
}

.header__navbar-search-filter-text {
  font-size: 14px;
}

.header__navbar-search-filter-icon {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 8px;
}

.header__navbar-list {
  display: flex;
}

ul {
  list-style: none;
}

.header__navbar-item {
  color: white;
  font-size: 14px;
  margin: 8px 8px 0;
}

.header__navbar-item-link {
  color: white;
  text-decoration: none;
  position: relative;
}

.header__navbar-item-link:hover {
  opacity: 0.7;
}
.header__navbar-item-has-border::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid white;
  opacity: 0.2;
  padding-left: 10px;
  height: 16px;
  transform: translateX(-70%) translateY(-100%);
}

.navbar-main {
  height: 48px;
  width: 100%;
}

.navbar-main-list {
}

.navbar-main-item {
  display: inline-block;
  cursor: pointer;
}

.navbar-main-item-link {
  padding: 0 16px;
  text-decoration: none;
  color: white;
  line-height: 42px;
}
.navbar-main-item:hover {
  border-bottom: 1px solid #f6462e;
}
.navbar-main-item:hover .navbar-main-item-link {
  color: #f6462e;
}
html {
  line-height: 1.5;
  color: white;
  background-color: gainsboro;
  font-family: bahnschrift;
  scroll-behavior: smooth;
}

.content {
  display: flex;
  margin-top: 140px;
  margin-bottom: 40px;
  margin-left: 12px;
    margin-right: 12px;
}
/* slider */
.content-slider {
  width: 20%;
  background-color: gainsboro;
  max-height: 302px;
  color: white;
}
.slider-list {
  background-color: black;
  width: 20%;
  list-style: none;
  padding: 0;
  position: fixed;
  margin: 0;
}

.list-item {
  padding: 0;
  padding-left: 12px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.list-item-link {
  color: white;
  text-decoration: none;
}

.list-icon {
  padding-right: 8px;
}
.list-item:hover {
  background-color: white;
  color: black;
}

.list-item:hover .list-item-link {
  color: black;
}

.list-item:first-child {
  font-size: 18px;
  pointer-events: none;
}

/* Main */
.content-main {
  width: 80%;

  margin-left: 20px;
}

.content-search {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.content-product {
  margin-top: 30px;
}

.search-find {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.search-list {
  list-style: none;
  display: flex;
  padding: 0;
  height: 56px;
  margin: 0;
  width: 50%;
}

.search-input {
  height: 30px;
  display: flex;
  align-items: center;
  outline: 0;
  padding: 0;
  border: 0;
  padding-left: 12px;
}

.search-input-btn {
  height: 30px;
  width: 30px;
  background-color: white;
  color: black;
  border: 0;
  border-left: 1px solid black;
}

.search-input-btn:hover {
  background-color: black;
  color: white;
}

.search-item {
  padding-left: 20px;
  border-right: 1px solid black;
  height: 100%;
  width: 40%;
  text-align: center;
  padding-right: 20px;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid white;
}

.search-item:hover {
  background-color: white;
  color: black;
}

.car {
  margin-top: 20px;
  width: 80%;
  /* height: 164px; */
  height: 200px;
  background-color: black;
  display: flex;
  position: relative;
}

.car-img {
  border-right: 1px solid black;
  background-color: white;
}

.car-info {
  padding-left: 20px;
  width: 100%;
}

.car-name {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.car-cdt {
  padding: 8px 0;
}

.car-price {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 30px;
}

.see-more {
  color: white;
}

.car:hover .car-info {
  background-color: white;
  color: black;
}

.car:hover .see-more {
  background-color: white;
  color: black;
}

.footer {
  background-color: white;
}

.footer__content {
  padding-top: 26px;
  padding-bottom: 26px;
}
.footer__heading {
  color: black;
}
.footer__list {
  margin-top: 12px;
}
.footer__list-item {
  margin-top: 12px;
}
.footer__list-link {
  text-decoration: none;
  color: black;
}

.footer__list-link:hover {
  color: #f6462e;
}

.footer__download {
  display: flex;
  margin-top: 12px;
}
.footer__download-qr {
  width: 70px;
  height: 70px;
}
.footer__download-apps {
  margin-top: 12px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}
.footer__download-apps-link {
  text-decoration: none;
}
.footer__download-app-img {
  width: 85px;
  height: 20px;
}

.footer__bottom {
  background-color: rgba(0, 0, 0, 0.65);
  background: #f5f5f5;
  width: 100%;
  height: 40px;
  text-align: center;
}

.footer__text {
  font-size: 16px;
  padding-top: 12px;
  color: black;
}
